<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Noter</title>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-90 p-10 text-white bg-zinc-900">
        <a href="/" class="text-blue-500">GO BACK to home</a>
        <h1 class="tracking-tighter text-4xl mt-10 mb-10"><%= filename %></h1>
        <p class="text-xl mt-2"><%= filedata %></p>
    </div>
</body>
</html>